[Desktop Entry]
Version=1.0.3
Exec=guideos-gpu-vc.py
Name=GuideOS Vieokonverter
Name[de]=GuideOS Vieokonverter
Comment=GuideOS Vieokonverter
Icon=guideos-gpu-vc.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GuideOS;
